*.log
src
node_modules
tests
.vscode
.temp
.vscode

eslint.config.mjs
.editorconfig
tsconfig.json
tsconfig.build.json
tsconfig.test.json
tsconfig.src.json
tsconfig.json
vitest.config.ts
.gitignore

docs
output
